<div style="border:2px solid black; width:1000px; height:1500px">
    <div data-type="controls" data-label="First name" data-cast="string"></div>
    <div data-type="controls" data-label="Second name" data-cast="integer"></div>
    <div data-type="controls" data-label="Third name" data-cast="date"></div>
    <div>NOTE</div>
    <div data-type="arrow"><img src="templates/north-arrow.png" style="height: 50px; width: 15px;"></img></div>
    <div data-type="legend"></div>
    <div data-type="scale" data-style="height:50"></div>
    <div data-type="map" data-style="width:850"></div>
</div>